.DS_Store
latex-templates/TUOS UG-PGT dissertation/main.aux
latex-templates/TUOS UG-PGT dissertation/main.bbl
latex-templates/TUOS UG-PGT dissertation/main.blg
latex-templates/TUOS UG-PGT dissertation/main.fdb_latexmk
latex-templates/TUOS UG-PGT dissertation/main.fls
latex-templates/TUOS UG-PGT dissertation/main.lof
latex-templates/TUOS UG-PGT dissertation/main.log
latex-templates/TUOS UG-PGT dissertation/main.lot
latex-templates/TUOS UG-PGT dissertation/main.out
latex-templates/TUOS UG-PGT dissertation/main.pdf
latex-templates/TUOS UG-PGT dissertation/main.synctex.gz
latex-templates/TUOS UG-PGT dissertation/main.toc
